* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: hsl(0, 0%, 89%);
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    font-family: "Lato", sans-serif;
    transition: background-color 0.5s ease;
}

.navbar.dark-mode {
    background-color: hsl(239, 58%, 17%);
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar_logo {
    color: hsl(218, 90%, 56%);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.5s ease;
}

#navbar_logo.dark-mode {
    color: hsl(63, 75%, 73%);
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: hsl(218, 90%, 56%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    transition: color 0.5s ease;
}

.navbar_links.dark-mode {
    color: hsl(63, 75%, 73%);
}

.navbar_btn {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* padding: 0 1rem; */
    /* width: 100%; */
}

#moon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    border-style: solid;
    border-color: hsl(218, 90%, 56%);
    border-width: 1.6px;
    border-radius: 9px;
    transition: background-color 0.4s ease, border-color 0.4s ease; 
    margin-left: 22px;
}
#moon:hover{
    background: hsl(218, 87%, 68%);
    transition: all 0.4s ease;
    cursor: pointer;
    transform: rotate(360deg);
}
#moon.dark-mode{
    border-color: hsl(63, 75%, 73%);
    background-color: hsl(239, 58%, 17%);
}
#moon.dark-mode:hover{
    background-color: hsl(63, 71%, 85%);
    transform: rotate(360deg);
}
.navbar_links:hover {
    transition: all 0.3s ease;
    text-decoration: underline;
}

/* Middle Section styling */
h1 {
    font-size: 3.4rem;
    color: hsl(218, 90%, 56%);
    transition: color 0.5s ease;
}
h1.dark-mode {
    color: hsl(63, 75%, 73%);
}
.sections{
    background-color: hsl(0, 0%, 89%);
    text-align: center;
    font-size: 1.2rem;
    color: hsl(218, 90%, 56%);
    font-family: "Lato", sans-serif;
    padding-top: 75px;
    padding-bottom: 60px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.sections.dark-mode {
    background-color: hsl(239, 58%, 17%);
    color: hsl(63, 75%, 73%);
}
#aboutme p{
    text-align: center;
}

.sections p{
    font-size: 1.5rem;
    max-width: 50rem;
    text-align: left;
    /* Important */
    margin: 0 auto;
    width: 60%;
    max-width: 1300px;
}

.sections button{
    border: none;
    background-color: hsl(0, 0%, 89%);
    color: hsl(218, 90%, 56%);
    padding: 25px;
    border-style: solid;
    border-color: hsl(218, 90%, 56%);
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.sections button.dark-mode {
    background-color: hsl(239, 58%, 17%);
    color: hsl(63, 75%, 73%);
}

.sections button:hover{
    color: white;
    background-color: hsl(218, 83%, 70%);
    cursor: pointer;
    transition: 0.4s ease-in;
}

.projects{
    color: blue;
    font-size: 1.2rem;
}

.projects_container{
    /* Important */
    margin: 0 auto;
    width: 75%;
    max-width: 1300px;
}

.project{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border-color: blue;
    border-radius: 10px;
    border-style: solid;
    padding-top: 40px;
    padding-bottom: 40px;
}

.project h1{
    font-size: 2rem;
}

.project a{
    text-decoration: none;
    color: hsl(218, 90%, 56%);
}

.project_pic{
    border-style: solid;
    border-width: 4px;
    border-color: hsl(34, 56%, 84%);
    border-radius: 8px;
    margin-bottom: 10px; 
    width: 60%;
}
.project a:hover{
    text-decoration: underline;
    text-decoration-color: hsl(218, 90%, 56%);
}
.project a.dark-mode:hover{
    text-decoration: underline;
    text-decoration-color: hsl(63, 75%, 73%);
}

/* Footer Styling */
.footer_container{
    background-color: hsl(0, 0%, 89%);
    transition: background-color 0.5s ease;
    border-style: none;
}
.footer_container.dark-mode {
    background-color: hsl(239, 58%, 17%);
}
.social_icons{
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 360px;
    align-items: center;
    margin: 0 auto;
}

.social_icons i{
    color: hsl(218, 90%, 56%);
    transition: color 0.5s ease;
}
.social_icons i:hover{
    color: hsl(218, 90%, 67%);
}
.social_icons i.dark-mode {
    color: hsl(63, 75%, 73%);
}
.social_icons i.dark-mode:hover {
    color: hsl(62, 67%, 86%);
}
.copyright{
    text-align: left;
    font-size: 1.5rem;
    color: hsl(218, 90%, 56%);
    padding-top: 50px;
    display: flex;
    padding-left: 50px;
    font-family: "Lato", sans-serif;
    transition: color 0.5s ease;
}
.copyright.dark-mode {
    color: hsl(63, 75%, 73%);
}

.img_container {
    text-align: center;
}

#food{
    height: 20%;
    width: 20%;
    border-radius: 20px;
    border-width: 5px;
    border-style: ridge;
    border-color: hsl(218, 72%, 81%);
}